.App {
  font-family: sans-serif;
}

table {
  margin-top: 30px;
  margin: 30px auto 0 auto;
}

table thead th {
  padding: 15px;
}

table tbody td {
  padding: 5px;
}

table tbody tr {
  text-align: center;
}


select {
  margin-right: 30px;
}

.main {
  padding-top: 30px;
  width: 70%;
  margin: 0 auto;
}

.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
}

.pagination li {
  margin-left: 10px;
}

.pagination li a {
  text-decoration: none;
}

.search-panel {
  text-align: center;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 50px;
}